[Desktop Entry]
Name=App Install
Comment=Instala vários programas e prepara ambientes para programação sem que você digite códigos
Exec=sh -c "~/.local/share/AppInstall/AppInstall.sh"
Icon=~/.local/share/AppInstall/AppInstall.svg
Terminal=true
Type=Application
Categories=Application;Development;
Name[en_US]=App Install
Name[pt_BR]=App Install
