[Desktop Entry]
Name=App Install
Comment=Instala vários programas e prepara ambientes para programação sem que você digite códigos
Exec=sh -c "~/.local/share/AppInstall/AppInstall.sh"
Icon=terminal
Terminal=true
Type=Application
Categories=Application;Development;
Name[pt_BR]=appinstall
